.navbar-custom {
    background-color: #193e3c;
  }

  .details-custom {
    background-color: #193e3c;
    color: white;
  }
  
  .bg-dark-green {
    background-color: #193e3c;
  }
  
  .text-white {
    color: #fff;
  }

  .title {
    font-family: Arial, sans-serif;
    color: rgb(38, 35, 35);
    padding: 8px 60px 30px 45px;
    width: 100%;
  }

  .my-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .my-card-header {
    background-color: hsl(70, 75%, 2%);
    border-bottom: none;
    font-weight: bold;
    text-align: center;
  }
  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .beat-animation {
    animation-name: beat;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse-animation {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .footer-icon {
    margin-top: 15px;
    margin-right: 20px;
  
  }
  /* .App {
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 1em;
    text-align: left;
    width: 600px;
  } */
  
  .form {
    padding: 1em;
  }
  
  label {
    font-weight: 600;
  }

  .footer-container p {
    margin-bottom: 0;
   
  }

  .button-container {
    display: flex;
    margin-top: 20
    
    
  }
  .bold-text {
    font-weight: normal; /* set normal font weight by default */
  }
  
  .bold-text:hover {
    font-weight: bold; /* set bold font weight when hovered */
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://scontent-sof1-1.xx.fbcdn.net/v/t39.30808-6/336788315_609416907869267_7057566735378703313_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=0debeb&_nc_ohc=Da2Jyt2RdmEAX8pEsK6&_nc_ht=scontent-sof1-1.xx&oh=00_AfB0kvQo8BffLTzJAbjVgO5cZeTEJmzVc6kSjR_aQu5sLg&oe=642DA648');
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }
  
  .blur-container {
    position: relative;
    z-index: 1;
    padding: 50px;
    color: white;
  }
  .article {
    background-color: #fdf9f3;
    padding: 20px;
    border: 1px solid #dcdcdc;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .article h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .article p {
    margin-bottom: 1.5rem;
  }
  
  .title-font {
    font-family: "Arial", sans-serif;
  }
  